* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: absolute;
}

.hero-div {
  background-image: linear-gradient(to right bottom,
      rgba(0, 37, 93, 0.7),
      rgba(0, 37, 93, 0.7)),
    url(./images/Rectangle1.png);
  background-size: cover;
  height: 50vh;
  width: 100vw;
}

.text-container {
  position: relative;
  padding-right: 7%;
  top: 28vh;
  height: 100px;
}

.hero-text {
  font-family: Roboto;
  font-style: normal;
  font-size: 30px;
  line-height: 39px;
  text-align: right;
  color: #FFFFFF;
}

.third-div {
  background-color: #121212;
  height: 20vh;
}

.credit {
  color: grey;
  text-align: center;
  font-size: 20px;
}

.second-img {
  display: inline-block;
}

.second-image {
  height: 300px;
  width: 300px;
  margin: 100px;
}

.second-content {
  display: inline-block;
}

.about-title {
  margin: 100px;
  line-height: 10px;
}

.credit:hover {
  color: rgba(0, 37, 93, 0.7);
}